/* Navbar styles */
.navbar {
    /* background-color: rgb(188, 174, 228); */
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 95%;
    z-index: 9000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-container {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 940px; /* Reduced max width for a narrower navbar */
    margin: 0 auto; /* Center the navbar horizontally */
}

/* Logo styles */
.logo {
    height: 95px; /* Adjusted logo height */
    width: 95px; /* Adjusted logo width */
}

/* Adjust the content area to not be hidden by the navbar */
.body, .content {
    padding-top: 70px; /* Adjust based on the height of your navbar */
}

/* Navigation list styles */
.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Align items vertically centered */
    gap: 2rem; /* Reduced space between items */
}

/* Navigation item styles */
.nav-item a {
    color: #4285F4;
    text-decoration: none;
    font-size: 18px; /* Adjust font size as needed */
}

.nav-item a:hover {
    text-decoration: underline;
}
