.slideshow-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  background-color: #f5f5f5; /* Lighter background color */
}

.slide {
  position: relative;
}

.slide-image {
  width: 100%;
  height: 300px; 
  object-fit: cover;
  position: relative; 
  animation: smoothZoom 1.5s ease-in-out; /* Updated animation name and duration */
}

.slide-image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
}

.slide-text {
  position: absolute;
  bottom: 20px;
  right: 20px; /* Positioned to the right side */
  transform: translateX(0); /* Removed horizontal centering */
  color: white;
  text-align: left; /* Align text to the left */
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Darker background for better readability */
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  width: calc(100% - 40px);
  max-width: 500px;
}

.slide-text h2 {
  color: #007bff;
  margin: 0;
  font-size: 28px;
  margin-bottom: 10px;
}

.slide-text p {
  margin: 0;
  font-size: 16px;
  color: #ccc;
}

.apply-button {
  background-color: #007bff;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

@keyframes smoothZoom {
  0% {
    transform: scale(1.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
